#wrapper {
	max-width: 1080px;
	margin: 0 auto;
	
}

#demo{
	color: #fff;
}

/* WEB FONTS --------------------- */
.index{ 
@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');/*embedded open type*/
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),/*web open font*/
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');/*tru type format*/
}}

#port{
	font-family: 'Gloria Hallelujah', cursive;
	}
#hdr{
	font-family: 'Pacifico', cursive;
}
#cntcthdr{
	font-family: 'Kaushan Script', sans-serif;
	background: linear-gradient(#848484, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
			  center; background-size: cover;
}

cntr{
	font-family: 'Courgette', cursive;
	display: inline-block;
}
th{
	font-family: 'Courgette', cursive;
	background-color: #fff;
} td{
	background-color: #fff;
}

p{
	font-size: 1.8em;
}

/* Base Styles -------------------- */

/* Base Styles -------------------- */

*{
    box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
font-family: 'Abolition Regular', Helvetica Neue, sans-serif;
}

h1 {  
  font-size: 5.625rem; /* 90px/16px  */
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  margin: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}

h2 {
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
  text-align: center;
}

h4{
	font-size: 2em;
}
h5 {
	font-size: 1.8em;
	color: black;
}


.h3 {
  font-size: 3em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

.rotate90 {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	
}
.rotate-90{
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

h3 {
  font-size: 3em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

img{
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

img: hover {
  top animation: #ccc;
}
ul, ol {
  list-style-position: inside;
  padding-left: 0;
  margin-left:0;
}

ul{
	list-style: disc;
}
ol{
	list-style: decimal;
}

li {
 margin-bottom: 10px;
}
/* Pseudo-classes ------------------ */

a:link {
  color: #D7A9F9;
  text-decoration: none;
}

a:visited {
  color: #734097;
}

a:hover {
  color: #D7A9F9;
}

a:active {
  color: lightcoral;
}

img:hover {
  background-color: lavender;
}

/* Main Styles --------------------- */
/*.nav1 {
	width: 50%;
	margin: auto;
	
}*****use this code to push nav together*/
.nav1 {
	margin-bottom: 40px;
	
}
.nav1 li {
	width: 33.3%;
	display: inline-block;
	font-size: 1.5em;
	text-align: center;
	padding: 0;
	margin: 0;
}

.main-header {
  padding-top: 170px;
  height: 850px;
    
  background: linear-gradient(#734097, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
			  #ffa949 url('../img/star3.jpg') no-repeat
			  center; background-size: cover;
}

.port-header{
	padding-top: 150px;
	background: linear-gradient(0deg, #848484, transparent ),
              linear-gradient( #fff, transparent 90%),
			  #ffa949 url('../img/20150429_103522.jpg') no-repeat
			  center; background-size: cover;
}

.title {
  color: black;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}

.primary-content, .second-content,
.main-header,
.main-footer, .ctct-footer{
  text-align: center;
}

.primary-content {
	padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #58ACFA;
}

.t-border {
  border-top: 2px solid #dfe2e6;
}

/* Layout Styles ------------------ */

.primary-content,.secondary-content
 {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.wildlife {
  color: white;
  background-color: #734097;
  padding: 18% 24%;
  margin: 105px 0 60px;
  background: #734097 url('img/bionic-man-show.jpeg') no-repeat center;
  background-size: cover;
  box-shadow: 0px 15px 20px -12px rgba( 0,0,0, .8);
  border-radius: 10px;
}

.arrow {
  width: 50px;
  margin-top: 150px;
}

/* Floated Columns ------------------ */
.visit, .tips {
  width: 46.5%;
}

.visit {
  float: left;
}

.tips {
  float: right;
}

/******************************************
CONTACT PAGE
*****************************************/

#primary, #secondary{
	display: inline-block;
	max-width: 45%;
	margin: 0;
	padding: 0;
}

.plus{
	border-radius: 10px;
	 max-width: 35px;
	 margin:-30px;
}

.contact-info {
list-style: none;
  padding: 0;
  margin: 0;
font-size: 0.9em;
}

.phone{
list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.mail{list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.google+icon{
list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;}
  
 .profile{
	 border-radius: 10px;
	 max-width: 150px;
	 /* padding: 0 18%; */
 }
  
  /*********************
  GOOGLE PLUS BUTTON
  *********************/
/*   <style type="text/css">
 
#share-buttons img {
width: 5px;
padding: 0;
border: 0;
box-shadow: 0;
display: inline;
}
 
</style> */

.contact-info a {
display:block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
  margin: 0 0 10px;
}



.contact-info li.phone a {
  background-image: url('../img./phone.png');
}


.contact-info li.mail a {
  background-image: url('../img./mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img./twitter.png');
}

#left-side, #right-side {
	padding: 0 40px;
	max-width: 40%;
}


/* Floated Clearfix------------------ */

.group:after {
  content:"";
  display: table;
  clear: both; 
}

/* MEDIA QUERIES------------------ */



ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 160px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 160px;
}

span.text-content {
  background: transparent;
  color: white;
  cursor: pointer;
  display: table;
  height: 160px;
  left: 0;
  position: absolute;
  top: 0;
  width: 160px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 160px;
  left: 0;
  position: absolute;
  top: 0;
  width: 160px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}